<%= content_for :body_class do %>
"header-fixed header-fixed-space promo-padding-top sliding-panel-ini sliding-panel-flag-right"
<% end %>
<%= content_for :css do %>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">
<%= stylesheet_link_tag "default", "style" %>
<% end %>
<div class="wrapper">
    <!--=== Header v6 ===-->
    <div class="header-v6 header-classic-white header-sticky">
        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <div class="navbar-brand">
                        <a href="index.html">
                            <img class="default-logo" src="<%= asset_path("coachapp") %>" alt="Logo">
                            <img class="shrink-logo" src="<%= asset_path("coachapp") %>" alt="Logo">
                        </a>
                    </div>
                </div>

                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li>
                        <%= link_to "Inloggen",login_path, style: "color: #555555;" %>
                    </li>
                    <li>
                        <%= link_to "Gratis Registreren", register_path, style: "color: #555555;"  %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->

    <!-- Promo Block -->
    <div class="promo-bg-pattern-v1-dark promo-bg-fixed content-xlg parallaxBg">
        <div class="container text-center" data-start="opacity: 1;" data-320="opacity: 0;">
            <div class="margin-bottom-20">
                <a class="promo-video-icon-wrap color-light rounded-x animated fadeInUp wow cbp-lightbox" data-wow-duration="2s" data-wow-delay="1s" data-title="Video Presentation" href="https://www.youtube.com/watch?v=ivbk_tdaN3k&feature=youtu.be">
                    <i class="promo-video-icon icon-control-play"></i>
                </a>
                <div id="cbp-lightbox" class="dp-none"></div>
            </div>

            <span class="promo-text-v1 color-light margin-bottom-10 animated fadeInUp wow" data-wow-duration="1.5s" data-wow-delay="1.5s">
                KIJK HOE HET WERKT
            </span>

            <h2 class="promo-text-v2 color-light animated fadeInUp wow margin-bottom-20" data-wow-duration="1.5s" data-wow-delay="2s">ONLINE COACHING APP VOOR PERSONAL TRAINERS</h2>

            <div class="animated fadeInUp wow" data-wow-duration="1.2s" data-wow-delay="2.5s">
                <%= link_to login_path, class: "btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block rounded-4x margin-right-10" do%>
                Inloggen
                <% end %>
                <%= link_to register_path, class: "btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block rounded-4x" do %>
                Gratis Registeren
                <% end %>
            </div>
        </div>
    </div>
    <!-- End Promo Block -->
    <!-- Services Blocks -->
    <div class="bg-color-light">
        <div class="container content-md">
            <div class="text-center margin-bottom-60">
                <h2 class="title-v2 title-center">WAT KAN JE ERMEE DOEN?</h2>
                <p class="space-lg-hor">Met een stijgende vraag naar jouw diensten wordt het steeds belangrijker om efficiënter te werken om relevant te blijven. Via het gebruiken van webapplicaties kun je veel werk automatiseren en hierdoor je
                    <span style="color: #5FB611;">
                        werklast verlichten en véél tijd besparen!</span>
                    Op deze manier kan je je richten op wat écht belangrijk is,
                    <span style="color: #5FB611;">namelijk het leiden van je bedrijf!</span>
                    Via deze app kan je;</p>
            </div>
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50 animated fadeIn wow" data-wow-duration="1.5s">
                    <div class="service-block-v8">
                        <i class="icon-users"></i>
                        <div class="service-block-desc">
                            <h3><span style="color: #5FB611;">Klanten Managen</span></h3>
                            <p>De eerste module zorgt ervoor dat je verschillende klanten kan aanmaken die elk een eigen profiel krijgen met persoonlijke informatie en hun actieve trainingen.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 sm-margin-bottom-20 animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay=".3s">
                    <div class="service-block-v8">
                        <i class="icon-docs"></i>
                        <div class="service-block-desc">
                            <h3><span style="color: #5FB611;">Oefeningen Aanmaken</span></h3>
                            <p>Met de tweede module kan je oefeningen bekijken uit een uitgebreide oefenbibliotheek (250+ oefeningen), maar je kan daarnaast ook je eigen oefeningen aanmaken.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service Block v8 -->

            <!-- Service Block v8 -->
            <div class="row margin-bottom-30">
                <div class="col-sm-6 sm-margin-bottom-50 animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay="0.5s">
                    <div class="service-block-v8">
                        <i class="icon-trophy"></i>
                        <div class="service-block-desc">
                            <h3><span style="color: #5FB611;">Trainingen Samenstellen</span></h3>
                            <p>Met de derde module kan je trainingen opstellen die bestaan uit verschillende oefeningen die je kan selecteren uit de oefenbibliotheek. Na het opstellen van een training kan je deze toewijzen aan één of meerdere cliënten. Daarna kunnen je cliënten
                                inloggen via hun account, de trainingen bekijken en deze markeren als voltooid.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 animated fadeIn wow" data-wow-duration="1.5s" data-wow-delay="0.6s">
                    <div class="service-block-v8">
                        <i class="icon-magic-wand"></i>
                        <div class="service-block-desc">
                            <h3><span style="color: #5FB611;">Meer?</span></h3>
                            <p>Heb je feedback of suggesties over hoe ik deze applicatie kan verbeteren zodat het beter aansluit bij jou noden? Zoals oefeningen toevoegen, filteren op trainingsfocus, enzoverder,.. . Laat het mij weten via de contactgegevens onderdaan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="border:none;" class="call-action-v1 call-action-v1-boxed tag-box-v7 margin-bottom-40">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in text-center">
                <h2 class="color-darker">
                    <strong>Feedback of vragen? Contacteer mij op
                        <span class="color-green">
                            <a href="mailto:info@truetch.be">info@truetech.be</a>
                        </span>
                        of bel
                        <span class="color-green">
                            +32 496 42 75 59</span>. Of bezoek mijn website<span class="color-green">
                            <a href="http://www.truetech.be/nl">www.truetech.be</a>
                        </strong>
                    </h2>
                    <%= link_to login_path, class: "btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-dark margin-right-10" do%>
                    Inloggen
                    <% end %>
                    <%= link_to register_path, class: "btn-u btn-u btn-u-md" do %>
                    Gratis Registeren
                    <% end %>

                </div>
            </div>
        </div>
        <div class="parallax-quote parallaxBg" style="background-position: 50% -370px;">
            <div class="container">
                <div class="parallax-quote-in">
                    <p style="text-transform: none;">The price must be paid and the process followed.
                        <span class="color-green">You always reap what you sow,</span>
                        there are no shortcuts.</p>
                    <small>- Stephen R. Covey -</small>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Footer v6 ===-->
</div>
<%= content_for :js do %>
<%= javascript_include_tag "jquery", "jquery-ui", "wow", "cube", "default", "script" %>
<% end %>
